/* vvv Demostrate inheritance with font family, color, and font size vvv */
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: rgb(18, 18, 33)
}

i {
  color: rgb(124, 166, 223)
}

strong {
  color: rgb(243, 238, 166)
}

footer {
  background-color: #304a46;
  padding: 20px;
  text-align:center;
  color: rgb(255, 255, 255);
}